.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 50vh;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ff724c;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #f4f4f8;
  border-color: #ff724c;
  color: #ff724c;
}

.actions .button--alt {
  color: #ff724c;
}

.actions .button--alt:hover,
.actions .button--alt:active {
  color: #f4f4f8;
  background-color: #ff724c;
}

.actions .button {
  background-color: #ff724c;
  color: #f4f4f8;
}
